<main>
    <div class="container">
        <form class="form-wrapper">
            <h1 class="form-header">Вход</h1>
            {{{labelLogin}}}
            {{{inputLogin}}}
            {{{labelPassword}}}
            {{{inputPassword}}}
            <div class="button-wrapper">
                {{{buttonEnter}}}
                {{{linkSingup}}}
            </div>
            <div class="input-error"></div>
        </form>
    </div>
</main>
