<main>
    <div class="chat-container">
        <div class="chat-sidebar">
            <div class="sidebar-profile">
                {{{linkProfile}}}
            </div>
            {{{inputSearch}}}
            <ul class="chat-list">
                {{{chat1}}}
                {{{chat2}}}
                {{{chat3}}}
                {{{chat4}}}
            </ul>
        </div>
        <div class="chats-wrapper">
            <h3>Пока здесь будут ссылки на страницы ошибок</h3>
            <div class="link-wrapper">
                {{{link404}}}
                {{{link500}}}
            </div>

            <form class="message-form">
                {{{inputMessage}}}
                <button class="message-form-button">&#62;</button>
            </form>
        </div>
    </div>
</main>
