<main>
    <div class="chat-container">
        <div class="chat-sidebar">
            <div class="sidebar-profile">
                {{{linkProfile}}}
            </div>
            <form class="add-chat">
                {{{inputChatName}}}
                {{{buttonAddChat}}}
            </form>
            <ul class="chat-list">
                {{{chatList}}}
            </ul>
        </div>
        <div class="chats-wrapper">
            {{{header}}}
            <div class="link-wrapper">
                {{{messages}}}
            </div>

            <form class="message-form">
                {{{inputMessage}}}
                {{{buttonMessage}}}
            </form>
        </div>
    </div>
</main>
