<main>
    <div class="profile-wrapper">
        {{{avatar}}}
        <p class="profile-name">{{first_name}} {{second_name}}</p>
        <div class="profile-data">
            <form class="profile-data_list">
                {{{userEmail}}}
                {{{userLogin}}}
                {{{userName}}}
                {{{userSurname}}}
                {{{userNickname}}}
                {{{userPhone}}}
            </form>
            <div class="profile-actions">
                {{{linkChangeData}}}
                {{{linkChangePassword}}}
                {{{linkBack}}}
                {{{linkExit}}}
            </div>
        </div>
    </div>
</main>
