<main>
    <div class="profile-wrapper">
        <div class="profile-avatar"></div>
        <p class="profile-name">{{user.name}} {{user.second_name}}</p>
        <div class="profile-data">
            <ul class="profile-data_list">
                <li class="profile-data-item">{{{userEmail}}}</li>
                <li class="profile-data-item">{{{userLogin}}}</li>
                <li class="profile-data-item">{{{userName}}}</li>
                <li class="profile-data-item">{{{userSurname}}}</li>
                <li class="profile-data-item">{{{userNickname}}}</li>
                <li class="profile-data-item">{{{userPhone}}}</li>
            </ul>
            <div class="profile-actions">
                {{{linkChangeData}}}
                {{{linkChangePassword}}}
                {{{linkExit}}}
            </div>
        </div>
    </div>
</main>
