<main>
    <div class="container">
        <form class="form-wrapper">
            {{{labelEmail}}}
            {{{inputEmail}}}
            {{{labelLogin}}}
            {{{inputLogin}}}
            {{{labelFirstName}}}
            {{{inputFirstName}}}
            {{{labelSecondName}}}
            {{{inputSecondName}}}
            {{{labelNickName}}}
            {{{inputNickName}}}
            {{{labelPhone}}}
            {{{inputPhone}}}
            <div class="button-wrapper">
                {{{buttonSave}}}
                {{{linkBack}}}
            </div>
            <div class="input-error"></div>
        </form>
    </div>
</main>
