<main>
    <div class="container">
        <form action="" class="form-wrapper">
            <h1 class="form-header">Создать аккаунт</h1>
            {{{labelEmail}}}
            {{{inputEmail}}}
            {{{labelLogin}}}
            {{{inputLogin}}}
            {{{labelFirstName}}}
            {{{inputFirstName}}}
            {{{labelSecondName}}}
            {{{inputSecondName}}}
            {{{labelPhone}}}
            {{{inputPhone}}}
            {{{labelPassword}}}
            {{{inputPassword}}}
            {{{labelPassword2}}}
            {{{inputPassword2}}}
            <div class="button-wrapper">
                {{{buttonCreateAcc}}}
                {{{linkSingin}}}
            </div>
            <div class="input-error"></div>
        </form>
    </div>
</main>
