<main>
    <div class="container">
        <form action="" class="form-wrapper">
            <h1 class="form-header">Создать аккаунт</h1>
            {{{inputEmail}}}
            {{{inputLogin}}}
            {{{inputFirstName}}}
            {{{inputSecondName}}}
            {{{inputPhone}}}
            {{{inputPassword}}}
            {{{inputPassword2}}}
            <div class="button-wrapper">
                {{{buttonCreateAcc}}}
                {{{linkSingin}}}
            </div>
        </form>
    </div>
</main>