<main>
    <div class="container">
        <form class="form-wrapper">
            {{{labelPassword}}}
            {{{inputPassword}}}
            {{{labelNewPassword}}}
            {{{inputNewPassword}}}
            <div class="button-wrapper">
                {{{buttonSave}}}
                {{{linkBack}}}
            </div>
        </form>
    </div>
</main>